<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Devloper Diary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <div class="left-container Elevation-2dp">
                <div class="feed-identity-module profile-rail-card container ember-view">
                    <!---->
                    <div class="feed-identity-module__actor-meta profile-rail-card__actor-meta break-words">
                        <div style="background-image:url(https://media.licdn.com/media/AAEAAQAAAAAAAASLAAAAJDRiZjk2YmY0LWIwNTAtNDJiNS1hYzM3LWUyMmJmYzIwMzEwOQ.jpg)" class="feed-identity-module__member-bg-image profile-rail-card__member-bg-image">
                            <!---->
                        </div>

                        <a href="/in/firstcrazydeveloper/" id="ember1713" class="ember-view">
                            <img class="lazy-image loaded feed-identity-module__member-photo profile-rail-card__member-photo EntityPhoto-circle-5" alt="Abhishek Kumar" height="64" width="64" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAH_AAAAJDViYzZhZjg2LTVlYTMtNDEwMC04ZDY0LWI3NjUwOTEwMzM5MQ.jpg">
                        </a>
                        <a href="/in/firstcrazydeveloper/" id="ember1718" class="tap-target feed-identity-module__actor-link profile-rail-card__actor-link ember-view">
                            Abhishek Kumar
                        </a>
                        <p class="identity-headline Sans-13px-black-55% mt1">Immediate seeking for new opportunity</p>
                    </div>

                    <div class="feed-identity-module__widgets">
                        <div id="ember1729" class="feed-identity-module__entity-list entity-list-wrapper ember-view">
                            <ul class="entity-list" style="padding-left:0;">
                                <li class="entity-list-item">
                                    <div id="ember1741" class="entity-item ember-view">
                                        <div class="content-container">
                                            <div class="stat-container">
                                                <button class="widget-route">
                                                    <span class="Sans-21px-black-85% identity-stat">
                                                        114
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="identity-container">
                                                <button class="widget-route">
                                                    <div id="ember1748" class="description headline attributed-text ember-view">
                                                        <span id="ember1758" class="ember-view">
                                                            <span>Who's viewed your profile</span>
                                                        </span>
                                                    </div>
                                                    <!---->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="entity-list-item">
                                    <div id="ember1761" class="entity-item ember-view">
                                        <div class="content-container">
                                            <div class="stat-container">
                                                <button data-control-name="identity_wvmu" class="widget-route">
                                                    <span class="Sans-21px-black-85% identity-stat">
                                                        243
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="identity-container">
                                                <button class="widget-route">
                                                    <div id="ember1764" class="description headline attributed-text ember-view">
                                                        <span id="ember1766" class="ember-view">
                                                            <span>Views of your post</span>
                                                        </span>
                                                    </div>
                                                    <!---->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <!---->

                        </div>
                    </div>

                    <!---->
                    <a href="/premium/products/?upsellOrderOrigin=premium_homepage_identity_upsell" id="ember1768" class="feed-identity-module__anchored-widget feed-identity-module__anchored-widget--premium-upsell link-without-hover-state pv3 ph3 ember-view">
                        <p class="Sans-13px-black-55%">Access exclusive tools &amp; insights</p>
                        <p class="Sans-13px-black-85%-semibold feed-identity-module__anchored-widget--premium-upsell__upsell-text">

                            <svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet">
                                <g class="large-icon" style="fill: currentColor">
                                    <defs>
                                        <clipPath id="hg1">
                                            <rect x="2" y="2" width="20" height="20" rx="2.5" ry="2.5" style="fill: none"></rect>
                                        </clipPath>
                                    </defs>
                                    <g style="clip-path: url(#hg1)">
                                        <polygon points="2 2 22 22 22 2 2 2" style="fill: #c8b476"></polygon>
                                        <polygon points="22 22 2 2 2 22 22 22" style="fill: #b29a53"></polygon>
                                    </g>
                                </g>
                            </svg>

                            Reactivate Premium
                        </p>
                    </a>
                </div>

                <!---->
            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Product Name</h3>
                    <h4>$24.99</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                    4.0 stars
                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Product Reviews
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <a href="#" class="btn btn-success">Leave a Review</a>
                </div>
            </div>
            <!-- /.card -->

        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="mobmid">Skills Levels </h3>
                    <p>HTML5</p>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"> <span class="sr-only">85% Complete (success)</span> </div>
                    </div>
                    <!--skill end-->
                    <p>CSS3</p>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 65%"> <span class="sr-only">85% Complete</span> </div>
                    </div>
                    <!--skill end-->
                    <p>JS</p>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 35%"> <span class="sr-only">85% Complete (warning)</span> </div>
                    </div>
                    <!--skill end-->
                    <p>Photoshop</p>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 45%"> <span class="sr-only">85% Complete (danger)</span> </div>
                    </div>
                    <!--skill end-->
                    <p>Illustrator</p>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 75%"> <span class="sr-only">85% Complete (danger)</span> </div>
                    </div>
                    <!--skill end-->
                    <p>Flash</p>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 25%"> <span class="sr-only">85% Complete (danger)</span> </div>
                    </div>
                    <!--skill end-->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3><span class="fa fa-trophy"></span> Acheivements</h3>
                    <div class="acheivement">
                        <h4>Best Designer 2016</h4>
                        <p class="sub"><a href="#"></a></p>
                        <p>Studying all aspect of Design Including UX, Branding, Copy Exhibition Design, Ilustration and more...</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3><span class="fa fa-quote-left"></span> Testimonials</h3>
                    <div class="testimonial">
                        <blockquote>
                            <p>"Sit amet, consectetur adipisicing elit. Fuga quidem ipsum maiores necessitatibus sint, porro temporibus labore, amet officia unde libero eligendi? Porro dolorum itaque, facere harum amet, rem libero."</p>
                        </blockquote>
                        <h4>Joe Bloggs</h4>
                        <p>Job Title</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>